$border-color: #F3A917;
$background-color: #F3A917;
$background-card-color: #292A2F;
$link-color-light: #FFFFFF;
$link-color-dark: #000000;
$text-color-light: #FFFFFF;
$text-color-dark: #000000;